* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: red; */

}

/* #0b0b0b */

/* loader of the website */
#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line {
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw
}

#line1-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5,
#line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;

}

#line1-part1 h5 {
    /* background-color: aqua; */
    width: 5vw;
    text-align: right;
}

.line h1 {
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2 {
    font-size: 4.5vw;
    text-transform: uppercase;
    font-weight: 900;
   opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
        font-style: italic;

    }

    48% {
        font-family: 'Times New Roman', Times, serif;
        font-weight: 200;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;
        font-style: italic;

    }

    50% {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 1;
        font-style: italic;

    }

    100% {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 200;
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        opacity: 0;
        font-style: italic;


    }
}









#main {
    position: relative;
    background-color: #030303;
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: #151515;
}