* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
}

/* #page1{
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(240, 195, 135);    
}
#page2 img{
    height: 100%;
    width: 20%;
    object-fit: cover;
    object-position: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(215, 238, 161);
} */
body {
    overflow-x: hidden;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: black;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

#page2 h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20vw;
    text-transform: uppercase;
    font-weight: 500;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: black;
}