* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;

}

#page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(171, 237, 237);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(242, 192, 239);
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(251, 250, 178);
    display: flex;
    align-items: center;
    justify-content: center;
}

#circle {

    height: 30%;
    width: 30%;
    /* background: lightblue , royalblue;
     */
  background: linear-gradient(royalblue,lightblue,lightpink);
    border-radius: 50%;
}