* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: antiquewhite;
}
/* #he{
    color: light;
} */

/* Select a div with class .box and change its background color. */
.clr {
    background-color: lightblue;
    border: 2px solid black;
}