* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    /* background-color: blanchedalmond; */
}

#page1 {
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100vh;
    width: 100%;
    background-color: rgb(71, 202, 56);
    display: flex;
    align-items: center;
    justify-content: center;
}


#page3 {
    height: 100vh;
    width: 100%;
    background-color: rgb(90, 175, 208);
    display: flex;
    align-items: center;
    justify-content: center;
}

#box {
    height: 30%;
    width: 20%;
    background-color: blue;
}