* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}

#main {
    /* background-color: aquamarine; */
    height: 100%;
    width: 100%;
}

#nav {
    height: 80px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

#nav-part1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

#nav-part2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#nav-part2 h4 {
    font-size: 1.22vw;
    font-weight: 600;

}

#nav h5 {
    display: none;
}

#nav-part2 h4 span {
    color: rgb(150, 149, 150);
    margin-left: 25px;
}

.cir {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;

}

#nav2 {
    height: 70px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    gap: 70px;
    padding: 0 50px;
}

#nav2 h3 {
    font-size: 1.15vw;
    font-weight: 600;
    text-transform: uppercase;
}

#content {
    height: calc(100% - 150px);
    width: 100%;
    /* background-color: lightgray; */

}

#text-content {
    height: 45%;
    width: 100%;
    /* background-color: burlywood; */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#text-content::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;

}

#text-content::-webkit-scrollbar-thumb {
    background-color: rgb(240, 161, 224);

}

.elem {
    flex-shrink: 0;
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1 {
    font-size: 7vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
}

#img-content {
    height: 60%;
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    overflow-x: auto;
}

#img-content::-webkit-scrollbar {
    display: none;
}

#img-content img {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 35%;
}


@media (max-width:600px) {

    #nav {
        height: 70px;
        padding: 0 25px;
    }

    #nav-part1 {
        gap: 0px;
    }

    #nav-part2 {
        gap: 40px;
        align-items: center;
    }

    #nav-part2 h4 {
        font-size: 2.65vw;
        display: none;
        font-weight: 600;
    }

    #nav-part2 h4:nth-child(1) {
        display: initial;
        margin-right: 10px;
    }

    #nav h5 {
        display: initial;
        font-size: 20px;
    }

    #nav-part2 h4 span {
        color: rgb(150, 149, 150);
        margin-left: 25px;
    }

    .cir {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        background-color: black;

    }

    #nav2 {
        height: 50px;
        width: 100%;
        /* background-color: lightblue; */
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
        padding: 0 25px;
        gap: 12px;
    }

    #nav2 h3 {
        font-size: 2.15vw;
        font-weight: 600;
        text-transform: uppercase;
        color: #444;
    }

    #content {
        height: calc(100% - 125px);
        width: 100%;
        /* background-color: lightgray; */

    }

    #text-content {
        height: 30%;
        width: 100%;
        background-color: rgb(244, 242, 240);
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    #text-content::-webkit-scrollbar {
        background-color: transparent;
        height: 5px;

    }

    #text-content::-webkit-scrollbar-thumb {
        background-color: rgb(127, 223, 236);
    }

    .elem {
        flex-shrink: 0;
        height: 100%;
        width: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .elem h1 {
        font-size: 14vw;
        white-space: nowrap;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: 300;
        margin-right: 30px;
    }

    #img-content {
        height: 80%;
        width: 100%;
        /* background-color: aquamarine; */
        display: flex;
        overflow-x: auto;
    }

    #img-content::-webkit-scrollbar {
        display: none;
    }

    #img-content img {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}