* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 8% 40% 30%;
}

#nav {
    background-color: rgb(29, 216, 216);
    /* border: 2px solid black; */
    grid-column: 1/3;
    display: flex;
    padding: 0 50px;
    gap: 30px;
    justify-content: flex-end;
    align-items: center;

}

#nav h4 {
    /* justify-content: space-around;  */
    font-size: 20px;
    font-weight: 500;

}

#sub-main {
    /* background-color: blueviolet; */
    grid-column: 1/3;
}

#sub-main h2 {
    font-size: 4vw;
    font-size: 5vh;

    width: 40%;
    padding: 40px;
}




#left-center-left p {
    padding: 20px;
    font-weight: 400;
}



#left-center-right li {
    list-style: none;
    padding: 20px;
    text-align: right;
    line-height: 40px;
    border-top: 2px solid black;
}

.img {
    /* background-color: burlywood; */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTAco3zQP3vNvNJRS2CJ5hCdFv6QNrEv7KQ4w&s");
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 1/3;

}